services:
  web:
    build: .
    ports:
      - "8080:80"
    env_file:
      - .env
    volumes:
      - ./database:/var/www/html/database
      - ./public:/var/www/html/public
      - ./src:/var/www/html/src
    restart: unless-stopped